apiVersion: v1
kind: Service
metadata:
  name: $APP_NAME-service
  namespace: secureapp
  labels:
    app: $APP_NAME
spec:
  type: LoadBalancer
  selector:
    app: $APP_NAME
  ports:
    - protocol: TCP
      port: 80
      targetPort: 8070
